body {
  background-color: black;
  height: 100vh;
  margin: 0;
  overflow: hidden;
}

.container {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
  width: 100vw;
}

.ball {
  width: 2rem;
  height: 2rem;
  background-color: red;
  border-radius: 50%;
  position: absolute;
  top: 10rem;
  transition: width 0.2s ease;
}