body {
  background-color: black;
  height: 100vh;
  margin: 0;
  overflow: hidden;
}

.container {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
  width: 100vw;
  position: relative;
}

.ball {
  z-index: 1000;
  width: 2rem;
  height: 2rem;
  background-color: red;
  border-radius: 50%;
  position: absolute;
  top: 10rem;
}

.obstacle {
  background-color: blue;
  width: 100px;
  height: 3px;
  position: absolute;
}

.obstacle.red {
  background-color: red;
  width: 100px;
  height: 3px;
  position: absolute;
}

P {
  color: #FFF;
}